project:
  name: 真实环境
swagger:
  enable: false
spring:
  mvc:
    view:
      prefix: /WEB-INF/jsp/
      suffix: .jsp
    hiddenmethod:
      filter:
        enabled: true

  datasource:
    name: druidDataSource
    type: com.alibaba.druid.pool.DruidDataSource
    driver-class-name: org.gjt.mm.mysql.Driver
    url: jdbc:mysql://127.0.0.1:13306/school?useUnicode=true&characterEncoding=UTF-8
    username: root
    password: huigou2019.1
    druid:
      filters: stat
      max-active: 100
      initial-size: 1
      max-wait: 60000
      min-idle: 1
      time-between-eviction-runs-millis: 60000
      min-evictable-idle-time-millis: 300000
      validation-query: select 1
      test-while-idle: true
      test-on-borrow: false
      test-on-return: false
      pool-prepared-statements: true
      max-open-prepared-statements: 50
      max-pool-prepared-statement-per-connection-size: 20
  jpa:
    database: MYSQL
    show-sql: false
    hibernate:
      ddl-auto: update
      naming:
        implicit-strategy: org.hibernate.boot.model.naming.ImplicitNamingStrategyComponentPathImpl
        physical-strategy: org.hibernate.boot.model.naming.PhysicalNamingStrategyStandardImpl
    properties:
      hibernate:
        enable_lazy_load_no_trans: true
        format-sql: true
        dialect: com.zfw.core.dialect.MySQL5InnoDBUtf8Dialect
  output:
    ansi:
      enabled: DETECT
  redis:
    database: 3
    host: 127.0.0.1
    port: 16379
    password: huigou2019.1
    timeout: 10000ms
    lettuce:
      pool:
        max-active: 20
        max-idle: 20
        min-idle: 0
  http:
    encoding:
      charset: UTF-8
      enabled: true
      force: true
  data:
    redis:
      repositories:
        enabled: false

  servlet:
    multipart:
      max-file-size: 20000MB
      max-request-size: 200000MB

logging:
  level:
    root: error
    org:
      hibernate:
        SQL: warn
